{% load static %}
<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="{% static 'tel:+55-4XX-634-7071' %}"><i class="fa fa-phone"></i>+91-6299846516</a>
                    <a href="{% static 'tel:info@themevessel.com' %}"><i class="fa fa-envelope"></i>info@carverses.com</a>
                    <a href="{% static 'tel:info@themevessel.com' %}"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">

                <ul class="top-social-media pull-right">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'register' %}" class="nav-link">Register</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->